<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<<<<<<< HEAD
		{{!-- <link rel="stylesheet" href="/assets/css/.css" type="text/css" /> --}}
=======
    <link rel="stylesheet" href="/assets/html.css" type="text/css" />
>>>>>>> 60f5c89647138e025b9bcdd0e0287adcd02d84a7
		<title>Expensify</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- <script src="/assets/logic/logic.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>