{{!-- testing --}}
<div id="expenses">
      <div id ="allExpenses">
        <ol>
          {{#each users}}
            <div class="expensesList">
              <li>
                <h3>{{first_name}}</h3>
              </li>
            </div> 
          {{/each}}
          </ol>
      </div>

{{first_name}}


<form action="http://localhost:8080/api/expenses" method="POST"> 
  <input type="text" name= "description">
  <input type="text" name= "amount">
  <input type="text" name= "date">
  <select name="category_id">
    {{#each categories}}
      <option value="{{id}}" >{{name}}</option>
    {{/each}}
  </select>
  <button type="submit">submit</button>
</form>